# Notification Service
SERVER_PORT=8086

# MongoDB
DATABASE_URL=mongodb://mongo:27017

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=

# Upstream Services
AUTH_SERVICE_URL=http://auth-service:8081

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
