# Post Service
SERVER_PORT=8083

# PostgreSQL
DB_URL=jdbc:postgresql://postgres:5432/post_db
DB_USERNAME=postgres
DB_PASSWORD=

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASS=

# JWT
JWT_SECRET=
