# Search Service
SERVER_PORT=8085

# Elasticsearch
ELASTICSEARCH_URIS=http://elasticsearch:9200

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASS=

# Upstream Services
POST_SERVICE_URL=http://post-service:8083
USER_SERVICE_URL=http://user-service:8082
